.MainCon{
    background-image: url("./bus1.jpg");
    background-color: #cccccc;
    height: auto;
    width: auto;
}
.MainCon1{
    background-image: url("./bus1.jpg");
    background-color: #cccccc;
    height: auto;
    width: auto;
}
.MainCon2{
    
    background-color: #cccccc;
    height: 100vh;
   
}